body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin: 0;
}

@keyframes bgcolor {
    0% {
        background-color: #56aae4
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #d9cd45
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

.flex{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    
    h1 {
  font-size: 80px;
  line-height: 0.7;
  color: #776E65;
  margin: 0px;
}

.container {
  width: 468px;
  margin-top: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 456px;
  height: 456px;
  background-color: #BBADA0;
  border: 7px solid #BBADA0;
  border-radius: 6px;
  margin-top: 20px;
}

.grid div {
  width: 100px;
  height: 100px;
  margin: 7px;
  border-radius: 3px;
  background-color: #EEE4DA;
  color: #afa192;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  line-height: 1.6;
}

.score-container {
  text-align: center;
  width: 70px;
  height: 60px;
  border-radius: 3px;
  background-color: #8f7a66;
  color: #FFFFFF;
}

#score {
  font-size: 30px;
}

.score-title {
  font-size: 16px;
}

    justify-content: center;
}

.pfp{
    aspect-ratio: 1 / 1;
    border-radius:  75px;
    width: 20em;
    height: 20em;
}

.pfp:hover {
    width: 35em;
    height: 35em;
    filter: blur(1.75px);
}

