body{
    margin: 0;
    background-color: #4a536d;
}


.grid{
    
    display: grid;

    height: 100vh;
    width: 100vw;

    grid-template-columns: 1.5fr repeat(3, 1fr) 2fr repeat(3, 1fr) 1.5fr;
    grid-template-rows: 2fr 1fr 0.5fr 1fr 0.5fr 1fr 2fr;

    gap: 3em;

    justify-items: center;
    align-items: center;
}

@media only screen and (max-width: 1000px){
    .grid{
        grid-template-columns: 0.01fr repeat(3, 1fr) 2fr repeat(3, 1fr) 0.01fr;
        grid-template-rows: 2fr 1fr 0.5fr 1fr 0.5fr 1fr 2fr;
        gap: 0em;
    }
    .button{
        padding: 0em;
    }
}

.avatar{

    grid-column: 5;
    grid-row: 3 / 6;

    width: 80%;

    border: 0.5em solid #FFFFFF;
    border-radius: 2em;

    box-shadow: 0 0 1em black;
}

.button{

    width: 80%;

    background-color: #FFFFFF;

    border-radius: 2em;

    padding: 0.2em;

}

#github{

    grid-column: 3 / 5;
    grid-row: 2;

    border: 0.3em solid #000000;
    box-shadow: 0 0 1em #000000;

}

#reddit{

    grid-column: 6 / 8;
    grid-row: 2;

    border: 0.3em solid #FF4500;
    box-shadow: 0 0 1em #FF4500;

}

#xbox{

    grid-column: 2 / 4;
    grid-row: 4;

    border: 0.3em solid #107C10;
    box-shadow: 0 0 1em #107C10;

}

#steam{

    grid-column: 7 / 9;
    grid-row: 4;

    border: 0.3em solid #134A7E;
    box-shadow: 0 0 1em #134A7E;

}

#youtube{

    grid-column: 3 / 5;
    grid-row: 6;

    border: 0.3em solid #FF0000;
    box-shadow: 0 0 1em #FF0000;

}

#discord{

    grid-column: 6 / 8;
    grid-row: 6;

    border: 0.3em solid #5865F2;
    box-shadow: 0 0 1em #5865F2;

}

