body{
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    margin: 0;
}

.flex{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.pfp{
    aspect-ratio: 1 / 1;
    border-radius:  75px;
    width: 20em;
    height: 20em;
}

.pfp:hover {
    width: 35em;
    height: 35em;
}
@keyframes bgcolor {
    0% {
        background-color: #56aae4
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #d9cd45
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}